In [1]:
import pandas as pd

In [2]:
df=pd.read_pickle("News_dataset.pickle")
df

,File_Name,Content,Category,Complete_Filename,id,News_length
0,001.txt,Ad sales boost Time Warner profit\r\n\r\nQuart...,business,001.txt-business,1,2569
1,002.txt,Dollar gains on Greenspan speech\r\n\r\nThe do...,business,002.txt-business,1,2257
2,003.txt,Yukos unit buyer faces loan claim\r\n\r\nThe o...,business,003.txt-business,1,1557
3,004.txt,High fuel prices hit BA's profits\r\n\r\nBriti...,business,004.txt-business,1,2421
4,005.txt,Pernod takeover talk lifts Domecq\r\n\r\nShare...,business,005.txt-business,1,1575
...,...,...,...,...,...,...
2220,397.txt,BT program to beat dialler scams\r\n\r\nBT is ...,tech,397.txt-tech,1,2526
2221,398.txt,Spam e-mails tempt net shoppers\r\n\r\nCompute...,tech,398.txt-tech,1,2294
2222,399.txt,Be careful how you code\r\n\r\nA new European ...,tech,399.txt-tech,1,6297
2223,400.txt,US cyber security chief resigns\r\n\r\nThe man...,tech,400.txt-tech,1,2323
2224,401.txt,Losing yourself in online gaming\r\n\r\nOnline...,tech,401.txt-tech,1,16248

In [3]:
from nltk.tokenize import word_tokenize

In [4]:
df["tokens"]=df["Content"].astype(str).apply(word_tokenize)
df

,File_Name,Content,Category,Complete_Filename,id,News_length,tokens
0,001.txt,Ad sales boost Time Warner profit\r\n\r\nQuart...,business,001.txt-business,1,2569,"[Ad, sales, boost, Time, Warner, profit, Quart..."
1,002.txt,Dollar gains on Greenspan speech\r\n\r\nThe do...,business,002.txt-business,1,2257,"[Dollar, gains, on, Greenspan, speech, The, do..."
2,003.txt,Yukos unit buyer faces loan claim\r\n\r\nThe o...,business,003.txt-business,1,1557,"[Yukos, unit, buyer, faces, loan, claim, The, ..."
3,004.txt,High fuel prices hit BA's profits\r\n\r\nBriti...,business,004.txt-business,1,2421,"[High, fuel, prices, hit, BA, 's, profits, Bri..."
4,005.txt,Pernod takeover talk lifts Domecq\r\n\r\nShare...,business,005.txt-business,1,1575,"[Pernod, takeover, talk, lifts, Domecq, Shares..."
...,...,...,...,...,...,...,...
2220,397.txt,BT program to beat dialler scams\r\n\r\nBT is ...,tech,397.txt-tech,1,2526,"[BT, program, to, beat, dialler, scams, BT, is..."
2221,398.txt,Spam e-mails tempt net shoppers\r\n\r\nCompute...,tech,398.txt-tech,1,2294,"[Spam, e-mails, tempt, net, shoppers, Computer..."
2222,399.txt,Be careful how you code\r\n\r\nA new European ...,tech,399.txt-tech,1,6297,"[Be, careful, how, you, code, A, new, European..."
2223,400.txt,US cyber security chief resigns\r\n\r\nThe man...,tech,400.txt-tech,1,2323,"[US, cyber, security, chief, resigns, The, man..."
2224,401.txt,Losing yourself in online gaming\r\n\r\nOnline...,tech,401.txt-tech,1,16248,"[Losing, yourself, in, online, gaming, Online,..."

In [5]:
from nltk.stem import WordNetLemmatizer
wnl = WordNetLemmatizer()

df["lemma"] = df["tokens"].apply(lambda tokens: [wnl.lemmatize(word) for word in tokens])
df["lemma"]

0       [Ad, sale, boost, Time, Warner, profit, Quarte...
1       [Dollar, gain, on, Greenspan, speech, The, dol...
2       [Yukos, unit, buyer, face, loan, claim, The, o...
3       [High, fuel, price, hit, BA, 's, profit, Briti...
4       [Pernod, takeover, talk, lift, Domecq, Shares,...
                              ...
2220    [BT, program, to, beat, dialler, scam, BT, is,...
2221    [Spam, e-mail, tempt, net, shopper, Computer, ...
2222    [Be, careful, how, you, code, A, new, European...
2223    [US, cyber, security, chief, resigns, The, man...
2224    [Losing, yourself, in, online, gaming, Online,...
Name: lemma, Length: 2225, dtype: object

In [6]:
from nltk.corpus import stopwords
st=list(stopwords.words('english'))

def remove_stopwords(tokens):
    return [word for word in tokens if word.lower() not in st]

df["filtered_lemma"] = df["lemma"].apply(remove_stopwords)
df["filtered_lemma"]

0       [Ad, sale, boost, Time, Warner, profit, Quarte...
1       [Dollar, gain, Greenspan, speech, dollar, ha, ...
2       [Yukos, unit, buyer, face, loan, claim, owner,...
3       [High, fuel, price, hit, BA, 's, profit, Briti...
4       [Pernod, takeover, talk, lift, Domecq, Shares,...
                              ...
2220    [BT, program, beat, dialler, scam, BT, introdu...
2221    [Spam, e-mail, tempt, net, shopper, Computer, ...
2222    [careful, code, new, European, directive, coul...
2223    [US, cyber, security, chief, resigns, man, mak...
2224    [Losing, online, gaming, Online, role, playing...
Name: filtered_lemma, Length: 2225, dtype: object

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['category_code']=le.fit_transform(df['Category'])
df

,File_Name,Content,Category,Complete_Filename,id,News_length,tokens,lemma,filtered_lemma,category_code
0,001.txt,Ad sales boost Time Warner profit\r\n\r\nQuart...,business,001.txt-business,1,2569,"[Ad, sales, boost, Time, Warner, profit, Quart...","[Ad, sale, boost, Time, Warner, profit, Quarte...","[Ad, sale, boost, Time, Warner, profit, Quarte...",0
1,002.txt,Dollar gains on Greenspan speech\r\n\r\nThe do...,business,002.txt-business,1,2257,"[Dollar, gains, on, Greenspan, speech, The, do...","[Dollar, gain, on, Greenspan, speech, The, dol...","[Dollar, gain, Greenspan, speech, dollar, ha, ...",0
2,003.txt,Yukos unit buyer faces loan claim\r\n\r\nThe o...,business,003.txt-business,1,1557,"[Yukos, unit, buyer, faces, loan, claim, The, ...","[Yukos, unit, buyer, face, loan, claim, The, o...","[Yukos, unit, buyer, face, loan, claim, owner,...",0
3,004.txt,High fuel prices hit BA's profits\r\n\r\nBriti...,business,004.txt-business,1,2421,"[High, fuel, prices, hit, BA, 's, profits, Bri...","[High, fuel, price, hit, BA, 's, profit, Briti...","[High, fuel, price, hit, BA, 's, profit, Briti...",0
4,005.txt,Pernod takeover talk lifts Domecq\r\n\r\nShare...,business,005.txt-business,1,1575,"[Pernod, takeover, talk, lifts, Domecq, Shares...","[Pernod, takeover, talk, lift, Domecq, Shares,...","[Pernod, takeover, talk, lift, Domecq, Shares,...",0
...,...,...,...,...,...,...,...,...,...,...
2220,397.txt,BT program to beat dialler scams\r\n\r\nBT is ...,tech,397.txt-tech,1,2526,"[BT, program, to, beat, dialler, scams, BT, is...","[BT, program, to, beat, dialler, scam, BT, is,...","[BT, program, beat, dialler, scam, BT, introdu...",4
2221,398.txt,Spam e-mails tempt net shoppers\r\n\r\nCompute...,tech,398.txt-tech,1,2294,"[Spam, e-mails, tempt, net, shoppers, Computer...","[Spam, e-mail, tempt, net, shopper, Computer, ...","[Spam, e-mail, tempt, net, shopper, Computer, ...",4
2222,399.txt,Be careful how you code\r\n\r\nA new European ...,tech,399.txt-tech,1,6297,"[Be, careful, how, you, code, A, new, European...","[Be, careful, how, you, code, A, new, European...","[careful, code, new, European, directive, coul...",4
2223,400.txt,US cyber security chief resigns\r\n\r\nThe man...,tech,400.txt-tech,1,2323,"[US, cyber, security, chief, resigns, The, man...","[US, cyber, security, chief, resigns, The, man...","[US, cyber, security, chief, resigns, man, mak...",4
2224,401.txt,Losing yourself in online gaming\r\n\r\nOnline...,tech,401.txt-tech,1,16248,"[Losing, yourself, in, online, gaming, Online,...","[Losing, yourself, in, online, gaming, Online,...","[Losing, online, gaming, Online, role, playing...",4

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pickle

# Convert lemmatized tokens back to text
df["processed_text"] = df["filtered_lemma"].apply(lambda tokens: " ".join(tokens))

# Initialize TF-IDF Vectorizer
vectorizer = TfidfVectorizer()

# Fit and transform the text data
tfidf_matrix = vectorizer.fit_transform(df["processed_text"])

# Save the TF-IDF matrix and vectorizer
with open("tfidf_matrix.pkl", "wb") as f:
    pickle.dump(tfidf_matrix, f)

with open("tfidf_vectorizer.pkl", "wb") as f:
    pickle.dump(vectorizer, f)

print("TF-IDF representations saved successfully!")

TF-IDF representations saved successfully!

In [9]:
tfidf_matrix

<2225x27426 sparse matrix of type '<class 'numpy.float64'>'
	with 349226 stored elements in Compressed Sparse Row format>